#detalhes-produtos {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    align-content: center;
  }
  
  .imagem-produto{
    display: flex;
    transition: all 0.5s ease-in-out;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
  
  .imagem-produto:hover{
    transform: scale(1.05);
    margin-bottom: 1rem;
  }
  .imagem-produto img{
    width: 65%;
    flex: 1;
  }
  
  .infos-produto {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-left: 7rem;;
    margin-top: 2rem;
    flex: 1;
  }
  
  p.infos{
    font-size: 1.2rem;
  }